#content4-1f P {
  text-align: center;
}
#content4-1w P {
  text-align: center;
}
#menu-4 .navbar-toggler {
  color: #f1c050;
}
#slider-5 H2 {
  text-align: left;
  font-size: 48px;
  color: #ffffff;
}
#social-buttons2-12 .mbr-section-title {
  color: #ffffff;
}
#header1-o H1 {
  color: #fff8e0;
}
#header1-o P {
  color: #ffffff;
}
#msg-box1-s H2 {
  color: #fff8e0;
}
#msg-box1-s P {
  text-align: left;
}
#menu-6 .navbar-toggler {
  color: #f1c050;
}
#menu-14 .navbar-toggler {
  color: #f1c050;
}
#menu-1i .navbar-toggler {
  color: #f1c050;
}
