#msg-box4-20 .lead P {
  color: #ffffff;
}
#msg-box4-20 .mbr-section-title {
  color: #ffffff;
}
#content4-1f P {
  text-align: center;
}
#content4-1w P {
  text-align: center;
}
#menu-4 .navbar-toggler {
  color: #f1c050;
}
#social-buttons1-2q .mbr-section-title {
  color: #ffffff;
}
#header1-o H1 {
  color: #fff8e0;
}
#header1-o P {
  color: #ffffff;
}
#msg-box1-s H2 {
  color: #fff8e0;
}
#msg-box1-s P {
  text-align: left;
}
#menu-6 .navbar-toggler {
  color: #f1c050;
}
#msg-box4-2v .mbr-section-title {
  text-align: center;
}
#msg-box4-2v .lead P {
  text-align: center;
}
#content1-8 P {
  text-align: left;
}
#msg-box4-2w .mbr-section-title {
  font-size: 24px;
}
#msg-box4-2w .lead P {
  font-size: 16px;
}
#menu-14 .navbar-toggler {
  color: #f1c050;
}
#menu-1i .navbar-toggler {
  color: #f1c050;
}
#header4-2d H1 {
  font-size: 46px;
}
#header3-2h SMALL {
  font-size: 16px;
}
#header3-2h H3 {
  text-align: left;
}
#menu-26 .navbar-toggler {
  color: #f1c050;
}
#slider-27 H2 {
  text-align: left;
  font-size: 36px;
  color: #ffffff;
}
#slider-27 P {
  color: #ffffff;
}
#msg-box4-2a .lead P {
  color: #000000;
}
#msg-box4-2a .mbr-section-title {
  color: #000000;
}
#msg-box2-2m H2 {
  text-align: center;
}
#msg-box2-2n H2 {
  text-align: center;
}
#content5-2g .mbr-section-title {
  font-size: 36px;
}
#msg-box2-2l H2 {
  text-align: center;
}
#social-buttons2-28 .mbr-section-title {
  color: #ffffff;
}
