body {
    font-family: monospace;
    text-align: center;
    background-image: url(Images/background.png);
    background-size: cover;
    font-family: 'Comic Sans MS';
    font-size: 18px;
}
header {
    height: 150px;
    width: 94%;
    margin-left: 3%;
    color: azure;
    transform: translateY(-45px);
}
.playBtns {
    text-decoration:none;
    background-color: blueviolet;
    border-radius: 5px;
    font-size:larger;
    color: black;
}
h2 {
    transform: translateY(-25px);
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 30px;
    color: magenta;
}
/*img {
    transform:scale(.75) translateY(-185px);
}*/
#bubstorImg1 {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 150px;
 
}
#logo2 {
    position: absolute;
    top: 10px;
    left: 99%;
    height: 150px;
    transform: translateX(-150px);
}
#headH3 {
    position: absolute;
    top: 25px;
    left: 50%;
    height: 100px;
    transform: translateX(-190px);
}
#headDesc {
    position: absolute;
    top: 85px;
    left: 50%;
    font-size: medium;
    width: 650px;
    transform: translateX(-350px);
}
#bubstorImg2 {
    transform: translateY(-30px);
}
#guiMatchImg {
    transform: translateY(-50px);
    height: 475px;
}
section {
    display:block;
    padding-top: 20px;
    border: 1px inset grey;
    border-radius: 35px;
    /*transform: translateY(-10px);*/
    height: 675px;
    width: 99%;
    clear: both;
}
#guiMatchSection {
    height: 700px;
}
#sodukuSection {
    height: 620px;
}
#guiSpellMatchImg {
    transform: translate(10px, -110px) scale(.9);
}
#spellMatchSection {
    height: 680px;
}
#farmImg {
    transform: translateY(-30px) scale(.9);
    height: 475px;
}
#guiMatchImg { transform: translate(10px, -50px) scale(.9);
}
#sodukuImg {
    transform: translate(10px, -70px) scale(.7);
}
.infoDivs {
    /*height: 160px;*/
    font-family: 'Comic Sans MS';
    font-size: 20px;
    color: azure;
    /*background-color:black;*/
    border-radius: 15px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 15%;
    margin-bottom: 5px;
    clear: both;
    /*transform: translateX(160px);*/
    text-align: center;
    text-decoration: none;
}
#infoSpellMat{
    transform: translateY(-122px);
    height: 50px;
}
#infoGuiFarm {
    transform: translateY(-50px);
    height: 50px;
}
#infoGuiMatch {
    transform: translateY(-50px);
    height: 50px;
}
#infoSoduku {
    transform: translateY(-140px);
    height: 30px;
}
/*#fbLogin {
    position: absolute;
    left: 75%;
    top: 120px;
    
}*/

#fbShare {
    position: absolute;
    left: 77%;
    top: 50px;
    transform: translate(-20px, 0px);
    transform: scale(1.2);
}