body {
    font-family: monospace;
    text-align: center;
    background-image: url(Images/background.png);
    background-size: cover;
    font-family: 'Comic Sans MS';
    font-size: 18px;
}
header {
    min-height: 150px;
    width: 94%;
    margin-left: 3%;
    color: azure;
    transform: translateY(-45px);
    clear:both;
}
#headH3 {
    margin-top: 32px;
}
#headDesc {
    transform: translateY(-40px);
}
h2 {
    transform: translateY(-40px);
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 36px;
    color: magenta;
}
img {
    transform:scale(.75) translateY(-185px);
}
#bubstorImg1 {
    transform: scale(1.1) translate(-30px, -8px);
}
#bubstorImg2 {
    transform: scale(1.0) translateY(-20px);
    max-width: 95%;
}
section {
    display:block;
padding-top: 50px;
    border: 1px inset grey;
    border-radius: 25px;
    transform: translateY(-10px);
    height: 750px;
    min-width: 99%;
    clear:both;
}
#farmImg {
    transform: translateY(-40px) scale(1.0);
    
    max-width: 95%;
}
#guiMatchImg {
    transform: translateY(-75px) scale(.9);
    max-width: 90%;
    max-height: 85%;
}
#guiSpellMatch {
    transform: translate(10px, -100px) scale(.9);
}
#guiSpellMatchImg {
    max-width: 95%;
    transform: translate(0px, -90px) scale(0.9);
}
#sodukuImg {
    max-width: 95%;
    transform: translate(0px, -40px) scale(1.0);
}
.infoDivs {
    /*height: 160px;*/
    font-family: 'Comic Sans MS';
    font-size: 20px;
    color: azure;
    /*background-color:black;*/
    border-radius: 15px;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-left: 15%;
    margin-bottom: 10px;
    clear: both;
    /*transform: translateX(160px);*/
    text-align: center;
    text-decoration: none;
}
#infoBubStor {
    transform: translateY(-50px);
}
#infoSpellMat {
    transform: translateY(-132px);
    height: 50px;
}
#infoGuiFarm {
    transform: translateY(-110px) scale(0.8);
    height: 50px;
}
#infoGuiMatch {
    transform: translateY(-170px);
    height: 40px;
}
#infoSoduku {
    transform: translateY(-110px);
    height: 40px;
}
/*#fbLogin {
    position: absolute;
    left: 75%;
    top: 120px;
    
}*/

#fbShare {
    position: absolute;
    left: 85%;
    top: 5px;
    transform: translateX(-30px);
    /*transform: scale(1.2);*/
}
#footerImg {
    left: 50%;
    transform: translateX(-20px);
    max-width: 90%;
}