img {
	width:200px;
	height:200px;
}

table, td {
	border-radius:30px;
	
}
thead {
	font-family: Impact;
	font-size: 44px;
	color: Violet;
	background-color: #000000;
}
body {
	background-color: #F5F5DC
}
tfoot {
	font-family: Impact;
	font-size: 44px;
	color: Violet;
	background-color: #000000;
}

div {
	background-color: #000000;
}
