body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

section {
    display: flex;
}
p{
    font-size: 36px;
}
#header1 {
    margin: auto;
    font-size: 20px;
    height: 5em;
    background-color:crimson;
    color:white;
    width: 100%;
}
#header2 {
    margin: auto;
    font-size: 54px;
    height: 5em;
    text-align: center;
    width: 100%;
   
}
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-around;
}
h1 {
    margin: 0;
    font-size: 42px;
}

.flex-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: green;
    width: 100vw;
}


/* FOR DEMO AND DEV */
#sec-one {
    background-color: #083d16;
    max-width: 100vw;
    min-height: 100vh;
    color:azure;
}

#sec-two {
    background-color: #11223d;
    max-width: 100vw;
    min-height: 100vh;
    color:azure;
}

#sec-three {
    background-color: rgb(33, 14, 80);
    max-width: 100vw;
    min-height: 100vh;
    color:azure;
}

#sec-four {
    background-color: rgb(53, 7, 25);
    max-width: 100vw;
    min-height: 100vh;
    color:azure;
}

#sec-five{
    background-color: rgb(3, 70, 9);
    max-width: 100vw;
    min-height: 100vh;
    color:azure;
}
#sec-six{
    background-color: rgb(9, 13, 48);
    max-width: 100vw;
    min-height: 100vh;
    color:azure;
}
#sec-seven{
    background-color: rgb(4, 48, 7);
    max-width: 100vw;
    min-height: 100vh;   color:azure;
}
#sec-eight{
    background-color: rgb(26, 22, 2);
    max-width: 100vw;
    min-height: 100vh;   color:azure;
}

section .container {
    padding: 2em;
}

.top-container {
    margin: auto;
}

.item-one, .item-two, .item-three {
    padding: 1em;
}
#toc_container {
    background: #94b66e none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 32px;
    margin-bottom: 1em;
   
    width: 100%;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
   padding:5px;

    text-align: center;
}
.backLink{
    width:100%;
    font-size: 32px;
    text-align: center;;
}