body {
    font-family: 'Comic Sans MS';
    text-align: center;
    
   background-image:url(Images/HUD/background.png);
    background-repeat:no-repeat;
    background-color:darkslateblue;
    background-size:cover;

}
/* applies to GIF and PNG images; avoids blurry edges */
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard  property) */
}

#titleCover {
    position: absolute;
    transform: translate(-10px,-7px);
    z-index: 3000;
    width: 100%;
    height: 100%;
    background-color: black;
}
#coverImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-280px,-160px);
}
#ggLogo2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-90px,80px);
}
#NewGameBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-99px,-55px);
    
}
#loadSavedGame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(109px,-55px);
}
#btnImage2 {
    transform: translate(-209px,62px);
}
#btn1Text {
    position: absolute;
    transform: translate(-100px, -65px);
    width: 200px;
    font-family: 'Comic Sans MS';
    font-size: 28px;
    font-weight: bolder;
    color: darkgreen;
}
#btn2Text {
    position: absolute;
    transform: translate(-310px, -0px);
    width: 200px;
    font-family: 'Comic Sans MS';
    font-size: 28px;
    font-weight: bolder;
    color: azure;
}
#gameTitle {
    background-color: goldenrod;
    border-radius: 10px 10px;
    color: magenta;
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-10px);
}

#lightningFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
}

#arcaneFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
}
#fireFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    /*top: 50%;
    left: 50%;
    transform: translate(-250px,-150px);*/
}
#meteorFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    /*transform: translate(-75px,-75px);*/
}
#swordFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    /*top: 30%;
    left: 40%;
    transform: translate(-175px,-300px);*/
}
#airFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    /*transform: translate(-75px,-75px);*/
}
#earthFullBack {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    /*transform: translate(-75px,-75px);*/
}
#coverWrapper {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background-color: black;
    transform: translate(-10px,-10px);
}

#vsCover {
    position: absolute;
    display: none;
    width: 479px;
    height:319px;
    top: 50%;
    left: 50%;
    transform: translate(-239px,-160px);
    background-image: url(Images/HUD/battleMatchBack.png);
    background-repeat:no-repeat;
    background-position:center;
    border: 1px solid red;
    z-index: 7900;
}
#vsEnemy {
    position: absolute;
    transform: translate(15px,58px);
}
#nameWrapper {
    margin-top: 208px;
    width: 479px;
}
#playerNameP {
 float: left;
 margin-left: 45px;
 font-family:'Comic Sans MS';
 font-size:40px;
 font-weight:bolder;
 color: darkblue;
 }
#enemyNameP {
    transform: translate(25px,44px);
    margin-left: 10px;
    font-family: 'Comic Sans MS';
    font-size: 40px;
    font-weight: bolder;
   color: red;
}

#countDown {
    position: absolute;
    color:darkorange;
    transform: translate(200px,120px);
    font-family: 'Comic Sans MS';
    font-size: 35px;
    font-weight: bolder;
    border: 2px solid red;
    border-radius: 20px;
    width: 65px;
    height: 50px;
    background-color:blueviolet;
}


#helpGif {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-265px,-156px);
    z-index: 7000;
}
#skipMe {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    color: red;
    font-weight: bolder;
    font-size: 22px;
    z-index: 7100;
    transform: translate(210px,65px);
    background-color:blueviolet;
    border-radius: 10px;
}
#difficulty {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 359px;
    background-color: rgba(238,130,238, 0.3);
    border-radius: 10px;
    border: 1px grey solid;
    transform: translate(-372px,-177px);
    z-index: 2000;
}
#diffBack {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 395px;
    height: 309px;
    z-index: 7100;
    transform: translate(-200px,-170px);
    background-image: url(Images/HUD/blankBack.png);
    background-repeat: no-repeat;
    background-position: center;
}
#diffTitle, #homeTitle, #inventoryTitle, statsTitle, statsTitle2 {
    display: block;
    left: 48%;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    font-size: 22px;
}
#statsTitle {
    transform: translateY(6px);
}
#statsTitle2 {
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 40px;
    color: darkviolet;
    transform: translate(0px, 25px);
}
#statsInnerParent {
    position: absolute;
    width: 97%;
    height: 97%;
    margin:1.5%;
 /*border: 1px solid black;*/
 transform: translate(0px, -25px);
}

#playerHealthOnStats {
    position:absolute;
    top: 35px;
    left: 165px;
    width: 68px;
    height: 70px;
    background-image: url(Images/HUD/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align:center;
}
#playerDefOnStats {
    position: absolute;
    top: 35px;
    left: 485px;
    width: 70px;
    height: 70px;
    background-image: url(Images/HUD/sheild.png);
    background-repeat: no-repeat;
    background-position: center;
}
#healthInnerStat, #defInnerStat {
    transform: translate(0px,8px);
}
#playerLvlOnStats {
    position: absolute;
    top: 68px;
    left: 328px;
 
    font-size: 18px;
}
#playerCupStats {
    position: absolute;
    top: 135px;
    left: 115px;
    font-size: 24px;
    /*border: 2px solid red;*/
    height: 155px;
    width: 155px;
    text-align: left;
    background-image: url(Images/Hero/trophy0.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
    #playerCupStats > p {
        color: darkviolet;
        font-family: 'Comic Sans MS';
        font-weight: bolder;
        font-size: 18px;
        text-decoration: underline;
        transform: translate(-5px,-46px);
        width: 185px;
    }
#starCashStat {
    color: forestgreen;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    font-size: 18px;
    transform: translate(-170px,225px);
}
#returnFromStats {
    color: ghostwhite;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    font-size: 28px;
    transform: translate(0px,150px);
}
#playerImageOnStats {
    position: absolute;
    top: 90px;
    left: 270px;
    width: 185px;
    height: 215px;
    background-image: url(Images/Hero/idle_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: animatePlyr 2.0s infinite;
    -moz-animation: animatePlyr 2.0s infinite;
    -o-animation: animatePlyr 2.0s infinite;
    animation: animatePlyr 2.0s infinite;
  
}
@keyframes animatePlyr{
    0%, 100% { background-image: url(Images/Hero/idle_1.png);    }
    20% {  background-image: url(Images/Hero/idle_2.png);    }
    30% {  background-image: url(Images/Hero/idle_3.png);    }
    40% {  background-image: url(Images/Hero/idle_4.png);    }
    50% {  background-image: url(Images/Hero/idle_3.png);    }
    60% {  background-image: url(Images/Hero/walk_1.png);    }
    70% {
        background-image: url(Images/Hero/walk_2.png);
    }
    80% {
        background-image: url(Images/Hero/walk_3.png);
    }
    90% {
        background-image: url(Images/Hero/walk_4.png);
    }
}
@-webkit-keyframes animatePlyr {
    0%, 100% {
        background-image: url(Images/Hero/idle_1.png);
    }

    20% {
        background-image: url(Images/Hero/idle_2.png);
    }

    30% {
        background-image: url(Images/Hero/idle_3.png);
    }

    40% {
        background-image: url(Images/Hero/idle_4.png);
    }

    50% {
        background-image: url(Images/Hero/idle_3.png);
    }

    60% {
        background-image: url(Images/Hero/walk_1.png);
    }

    70% {
        background-image: url(Images/Hero/walk_2.png);
    }

    80% {
        background-image: url(Images/Hero/walk_3.png);
    }

    90% {
        background-image: url(Images/Hero/walk_4.png);
    }
}
@-moz-keyframes animatePlyr {
    0%, 100% {
        background-image: url(Images/Hero/idle_1.png);
    }

    20% {
        background-image: url(Images/Hero/idle_2.png);
    }

    30% {
        background-image: url(Images/Hero/idle_3.png);
    }

    40% {
        background-image: url(Images/Hero/idle_4.png);
    }

    50% {
        background-image: url(Images/Hero/idle_3.png);
    }

    60% {
        background-image: url(Images/Hero/walk_1.png);
    }

    70% {
        background-image: url(Images/Hero/walk_2.png);
    }

    80% {
        background-image: url(Images/Hero/walk_3.png);
    }

    90% {
        background-image: url(Images/Hero/walk_4.png);
    }
}
@-o-keyframes animatePlyr {
    0%, 100% {
        background-image: url(Images/Hero/idle_1.png);
    }

    20% {
        background-image: url(Images/Hero/idle_2.png);
    }

    30% {
        background-image: url(Images/Hero/idle_3.png);
    }

    40% {
        background-image: url(Images/Hero/idle_4.png);
    }

    50% {
        background-image: url(Images/Hero/idle_3.png);
    }

    60% {
        background-image: url(Images/Hero/walk_1.png);
    }

    70% {
        background-image: url(Images/Hero/walk_2.png);
    }

    80% {
        background-image: url(Images/Hero/walk_3.png);
    }

    90% {
        background-image: url(Images/Hero/walk_4.png);
    }
}
playerSpellLvlOnStats {
position: absolute;
top: 100px;
left: 400px;
border: 1px solid black;


}
.statVals {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 540px;
    width: 40px;
    background-color:chocolate;
}
.statRows {
    
    position: absolute;
    top: 110px;
    left: 470px;
    width: 80px;
}
#arcaneStatVal {
    top: 110px;
}
.row2 {
    top: 140px;
}
.row3 {top: 170px;}
.row4 {top: 200px;}
.row5 {top: 230px;}
.row6 {top: 260px;}
.row7 {top: 290px;}

.diffBtn {
    position: absolute;
    display: block;
    left: 25%;
    height: 35px;
    width: 250px;
    padding-top: 10px;
    clear: both;
    color: ghostwhite;
    font-family: 'Comic Sans MS';
    font-weight: bolder;
    font-size: 22px;
    /*border: 2px grey inset;*/
    border-radius: 10px;
    text-align: center;
    background-image: url(Images/HUD/bottomBar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top;
}
#diff1 {
    top: 20%;
    left: 20%;
    /*background-color: #66ffb3;*/
}
#diff2 {
    top: 37%;
    left: 20%;
    /*background-color: #e6e600;*/
}
#diff3 {
    top: 55%;
    left: 20%;
    /*background-color: #990000;*/
}
#saveDiff {
    position: absolute;
    display: block;
    top: 77%;
    left: 39%;
}
#selectedDiff {
    position: absolute;
    display: block;
    top: 30%;
    left: 28%;
}
#goHome, #inventoryParent, #trophyParent, #playerStatsParent {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 359px;
    background-color: rgba(238,130,238, 0.3);
    border-radius: 10px;
    /*border: 1px red solid;*/
    transform: translate(-372px,-177px);
    z-index: 3000;
}
#homeBack, #inventoryBack {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 395px;
    height: 309px;
    z-index: 7100;
    transform: translate(-200px,-170px);
    background-image: url(Images/HUD/blankBack.png);
    background-repeat: no-repeat;
    background-position: center;
}
#saveQuit {
    top: 32%;
    width: 275px;
    transform: translate(-40px,0px);
    background-image: url(Images/HUD/bottomBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    text-decoration: none;
    color: ghostwhite;
    border: none;
}
#homeMore {
    top: 60%;
    width: 275px;
    transform: translate(-40px,0px);
    background-image: url(Images/HUD/bottomBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    text-decoration: none;
    color: ghostwhite;
    border: none;
}
#homeReturn, #inventoryReturn, #trophyReturn, #diffReturn {
    top: 79%;
    width: 275px;
    transform: translate(-40px,0px);
    background-image: url(Images/HUD/bottomBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    color: ghostwhite;
    border: none;
}
#playerStatsParent {
    display: none;
    background-image: url(Images/HUD/wideHud21.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.potions {
    margin-top: 10px;
    display: block;
    width: 100px;
    height: 168px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    border: 1px #AA5939 solid;
    border-radius: 10px;
}
.potTitles {
    font-size: 14px;
    transform: translate( 0px, -17px);
}
.invPotBottom {
    transform: translate( 0px, 54px);
    font-size: 12px;
    color: darkmagenta;
}
.buyImage {
    transform: translate( 0px, -12px);
}
#invHealthPot {
    margin-left: 41px;
    background-image: url(Images/HUD/healthPot2.png);
    left: 5px;
}
#invDefPot {
    background-image: url(Images/HUD/book-3.png);
    margin-left: 2.5px;
}
#invPowerPot {
    background-image: url(Images/HUD/orbOfPower.png);
    margin-left: 2.5px;
}
#diffReturn {
    top: 79%;
}
#inventoryReturn {
        top: 79%;
    }



#trophyReturn {
    top: 82%;
}
    #trophyBack {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 450px;
        height: 300px;
        z-index: 7100;
        transform: translate(-225px,-170px);
        background-image: url(Images/HUD/wideBlankBack.png);
        background-repeat: no-repeat;
        background-position: center;
    }

#trophyReturn {
    transform: translate(-33px, 5px);
}
#trophyInnerParent {
    /*border: 2px inset black;*/
    border-radius: 20px;
    height: 200px;
    width: 535px;
    transform: translate(-48px, -10px);
}
.leftboxes {
    position: absolute;
    top: 10px;
    left: 2px;
    border: 2px inset saddlebrown;
    width: 75px;
    height: 90px;
    background-color: rosybrown;
    border-radius: 22px;
    background-position: center;
    background-repeat: no-repeat;
}
.rightboxes {
    position: absolute;
    left: 459px;
    border: 2px inset saddlebrown;
    width: 75px;
    height: 90px;
    background-color: rosybrown;
    border-radius: 22px;
    background-position: center;
    background-repeat: no-repeat;
}
.lowerboxes {
    top:110px;
}

#centerTrophyPane {
    position: absolute;
    left: 77px;
    /*border: 2px inset black;*/
    width: 380px;
    height: 200px;
}
#leftUpper {
    background-image: url(Images/HUD/bronzeTrophy.png);
}
#leftLower {
    
    background-image: url(Images/HUD/star.png);
}
#rightUpper {
    background-image: url(Images/HUD/silverTrophy.png);
    top: 8px;
}
#rightLower {
    background-image: url(Images/HUD/goldenTrophy.png);
}
.lockBack {
   
    background-image: url(Images/buttons/goldLock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#trophyLock1 {
    top: 8px;
}
#trophyLock3 {
    position: absolute;
    display: none;
    left: 0px;
    transform: translate(-1px, -31px);
    z-index: 9000;
}
.clsCenterTrophy {
    position: absolute;
    top: 30px;
    left: 80px;
    border: 2px inset black;
    height: 175px;
    width: 182px;
    background-color: #8C7853;
    border-radius: 30px;
}
#centerTrophyMiddleLeft {
    height: 145px;
    background-image: url(Images/Enemy/lvl1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#centerLowerLeft2 {
    position: absolute;
    top: 130px;
    left: 80px;
}
#centerTrophyMiddleRight {
    left: 273px;
}
.trophyRow {
    position: absolute;
    top: 35%;
    width: 175px;
    height: 33px;
    /*border: 2px inset purple;*/
        
}
#cupGuiName {
    top:10px;
}
#face1row {
    top: 1px;
}
#face2row {    top: 36px;}
#face3row {    top: 70px;}
#face4row {    top: 105px;}
#face5row {    top: 140px;}

.clsFaceBubble {
position: absolute;
left: 10px;
width: 45px;
height: 30px;
border-radius: 10px;
border: 1px solid purple;
background-color: black;
}
.clsCol2 {
    left: 66px;
}
.clsCol3 {
    left: 120px;
}

#r1-c1 {
    background-image: url(Images/Enemy/lvl1.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r1-c2 {
    background-image: url(Images/Enemy/lvl2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#r1-c3 {
    background-image: url(Images/Enemy/lvl3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#r2-c1 {
    background-image: url(Images/Enemy/lvl4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r2-c2 {
    background-image: url(Images/Enemy/lvl5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r2-c3 {
    background-image: url(Images/Enemy/lvl6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#r3-c1 {
    background-image: url(Images/Enemy/lvl7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r3-c2 {
    background-image: url(Images/Enemy/lvl8.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r3-c3 {
    background-image: url(Images/Enemy/lvl9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#r4-c1 {
    background-image: url(Images/Enemy/lvl10.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r4-c2 {
    background-image: url(Images/Enemy/lvl11.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r4-c3 {
    background-image: url(Images/Enemy/lvl12.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#r5-c1 {
    background-image: url(Images/Enemy/lvl13.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r5-c2 {
    background-image: url(Images/buttons/goldLock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#r5-c3 {
    background-image: url(Images/buttons/goldLock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#centerTopLeft {
    position: absolute;
    top: 0px;
    left: 4px;
    color: red;
    background-color: antiquewhite;
    width: 175px;
    height:22px;
    transform: translate(0px, -5px);
    border-radius: 15px;
    border: 1px inset black;
}
#enemyNameCenter {
    font-size: 20px;
    transform: translate(0px, -23px);
}
#innerStatBack {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 175px;
    height: 27px;
    /*background-image: url("Images/HUD/enemyStats1.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;*/
}
.clsinnerStat {
    position: absolute;
    top: -1px;
    left: -5px;
    width: 45px;
    font-size: 16px;
    color:azure;
    border-radius:8px;
    border: 1px inset black;
}
#innerStat1 {
    background-color: red;
}
#innerStat2 {
    left: 85px;
    color: azure;
}
#innerStat3 {
    left: 132px;
    background-color: dimgrey;
}
#centerLowerLeft2 {
    position: absolute;
    top: 128px;
    left: 83px;
    width: 180px;
    height: 125px;
    /*background-image: url(Images/HUD/bottomBar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

#innerStory {
    position: absolute;
    top: 50px;
    left:10px;
    font-size: 14px;
    color: darkred;
    text-shadow: 2px 2px azure;
    border-radius: 12px;
    /*background-image: url(Images/HUD/bottomBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
}

/*end*/
#gameMasterContainer {
    /*left: 50%;
  
    transform: translate(-5px, -8px);
 
    
    display: block;*/
}
#leftSide {
    display: block;
    font-size: 16px;
    color: azure;
    border: 2px inset red;
    float: left;
    height: 315px;
    width: 90px;
    background-color: black;
    transform: translateX(-5px);
    margin-left: 2px;
}

#viewport1 {
    position: absolute;
    left: 50%;
    top: 50%;
    /*width: 560px;*/
    min-height: 300px;
    height: 300px;
    width: 518px;
    z-index:1000;
   /*max-width: 360px;*/
    /*max-height: 750px;*/
    border: 1px solid yellow;
    border-radius: 12px 12px;
    /*transform: translate(-15px, 0px);*/
    /*width:508px;
    height:315px;*/
    float: left;
}
#viewport2 {
    position: absolute;
    left: 50%;
    top: 50%;
    /*max-width: 1000px;*/
    min-height: 100px;
    /*max-height: 750px;*/
    border: 1px solid yellow;
    /*transform: translate(-15px, 0px);*/
    /*width:508px;
    height:315px;*/
    float: left;
}
#rightSide {
    display: block;
    font-size: 20px;
    color: azure;
    border: 2px inset red;
    float: right;
    height: 315px;
    width: 90px;
    background-color: black;
    transform: translate(5px,-0px);
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1000;
}
#heroImage {
    transform: scale(.65) translate(-65px, -90px);
    background-image: url(Images/Hero/idle_1.png);
    width: 180px;
    height: 175px;
    background-size: contain;
    background-position: center;
    }
#enemyImage {
    transform: scale(.7) translate(-50px, -45px) scaleX(-1);
    background-image: url(Images/Enemy/idle_1.png);
    width: 180px;
    height: 175px;
    background-size: contain;
    background-position: center;
}

.pBars {
    border: 1px solid black;
    border-radius: 3px;
    width: 75px;
    min-height: 10px;
   
    /*left: 5px;*/
}

#progressBar, #progressBar3 {
    width: 85px;
    /*background-color: azure;*/
    min-height: 25px;
    /*top: 50px;*/
    z-index: 950;
    transform: translate(0px, -90px);
    background-image: url(Images/HUD/healthContainer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#progressBar2, #progressBar4 {
    width: 85px;
    background-color: black;
    min-height: 20px;
    /*top: 50px;*/
    z-index: 950;
    transform: translate(0px, -175px);
    background-image: url(Images/HUD/defenceContainer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#myBar, #myBar3 {
    width: 75%;
    max-width: 75px;
    background-color: crimson;
    border: 1px solid darkred;
    border-radius: 3px;
    z-index: 1050;
    min-height: 11px;
    left: 10px;
    transform: translate(17px, 6px);
    /*background-image: url(Images/HUD/healthBar.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;*/
}
#myBar2, #myBar4 {
    width: 75%;
    background-color:lightgray;
    border: 1px solid grey;
    z-index: 1050;
    min-height: 11px;
    left: 10px;
    transform: translate(17px, 4px);
    /*background-image: url(Images/HUD/defenceBar.png);
    
    background-repeat: no-repeat;*/
}
#progressBar2 {
    transform: translate(0px, -120px);
}
#progressBar3 {
    transform: translate(0px, -60px);
}
#progressBar4 {
    transform: translate(0px, -90px);
}
.statusText {
    font-size: 12px;
    font-weight:bold;
    color: darkblue;
    transform: translate(-13px, -21px);
    z-index:1100;
}
#defenceText1, #defenceText2 {
    transform: translate(-13px, -23px);
}
#menuImg {
    display: block;
    transform: translateY(-110px);
   
}

#ggLogo {
    min-height: 50px;
    height: 60px;
    background-image: url(Images/HUD/gabbyLogo.png);
    background-repeat: no-repeat;
    background-position: center;
}
#toHome {
    display:block;
    height: 50px;
    min-width: 50px;
    padding-top: 60px;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    color: blue;
    z-index: 1000;
    /*background-image: url(Images/HUD/gabbyLogo.png);*/
}
#message {
    position: absolute;
    display: none;
    height: 88px;
    min-width: 150px;
    left: 50%;
    top: 30%;
    background-image: url(Images/HUD/enemyTurn.png);
    z-index: 2500;
    /*transform: translate(-75px, -50px);*/
}


#changeToLandscape {
    position: absolute;
    background-color: black;
    width: 99%;
    height: 99%;
    left: 0%;
    top: 0%;
    z-index: 5000;
    display: none;
}
#pleaseSwitch {
    position: absolute;
    left: 50%;
    top: 25%;
    max-width: 320px;
    color: aliceblue;
    transform: translate(-100px, 0px);
}
#levelUpMaster {
   position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
}

#levelUpBack {
    height: 100%;
    width: 100%;
    
    background-image: url(Images/HUD/HorizLevelUp.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6500;
}
#levelUpGrid {
    position: absolute;
    left: 32%;
    top: 38%;
    color: white;
    border: 1px solid white;
}
    #levelUpGrid tr td {
        height: 38px;
        width: 80px;
        border: 2px solid white;
    }
/*#r4_td2 {
    left: 59%;
    width: 90px;
}*/
.plusTrait {
    position: absolute;
    
    background-image: url(Images/HUD/ButtonPlus.png);
    height: 40px;
    width: 38px;
}
.plusTrait2 {
    position: absolute;
    
    background-image: url(Images/HUD/ButtonPlus.png);
    height: 40px;
    width: 38px;
}
.plusTrait3 {
    position: absolute;
   
    background-image: url(Images/HUD/ButtonPlus.png);
    height: 40px;
    width: 38px;
}

#healHeart, #healHeartEnemy {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    background-image: url(Images/HUD/healHeart.png);
    height: 120px;
    width: 123px;
    /*transform: translate(-50px, -50px);*/
    z-index: 4000;
    font-size: 20px;
    color: #ffff00;
    padding-top: 1px;
    text-shadow: 0px 2px 0px #ff1493;
}

#healName, #healNameEnemy {
    min-width: 100px;
}




.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1.5s;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate(25px,58px);
    }
}
.fadeInRight2 {
    animation-name: fadeInRight2;
    animation-duration: 2.5s;
}
@keyframes fadeInRight2 {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        display: block;
    }

    to {
        opacity: 1;
        top: 20%;
        left: 20%;
        transform: translate3d(-50, -100, 0);
        display: none;
        /*transform: translate(25px,58px);*/
    }
}
.fadeInLeft2 {
    animation-name: fadeInLeft2;
    animation-duration: 2.5s;
}

@keyframes fadeInLeft2 {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        display: block;
    }

    to {
        opacity: 1;
        top: 20%;
        left: 80%;
        transform: translate3d(50, 100, 0);
        display: none;
   
    }
}
@media (max-width: 600px), screen (orientation:portrait) {
    #changeToLandscape {
        display: block;
    }
}

@media screen and (orientation:landscape) {
    #changeToLandscape {
        display: none;
    }
}