body {
    font-family: 'Comic Sans MS';
    text-align: center;
    
   background-image:url(Images/HUD/background.png);
    background-repeat:no-repeat;
    background-color:darkslateblue;
    background-size:cover;

}
/* applies to GIF and PNG images; avoids blurry edges */
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard  property) */
}

#titleCover {
    position: absolute;
    transform: translate(-10px,-7px);
    z-index: 3000;
    width: 100%;
    height: 100%;
    background-color: black;
}
#coverImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-280px,-160px);
}
#ggLogo2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-90px,80px);
}
#NewGameBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-70px,-10px);
}
#btn1Text {
    position: absolute;
    transform: translate(-35px,-75px);
    font-family:'Comic Sans MS';
    font-size:40px;
    font-weight:bolder;
    color:blueviolet;
}
#gameTitle {
    background-color: goldenrod;
    border-radius: 10px 10px;
    color: magenta;
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-10px);
}

#gameMasterContainer {
    
    /*left: 50%;
  
    transform: translate(-5px, -8px);
 
    
    display: block;*/
}
#leftSide {
    display: block;
    font-size: 16px;
    color: azure;
    border: 2px inset red;
    float: left;
    height: 315px;
    width: 90px;
    background-color: black;
    transform: translateX(-5px);
    margin-left: 2px;
}

#viewport1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    min-height: 310px;
    height: 380px;
    width: 508px;
   /*max-width: 360px;*/
    /*max-height: 750px;*/
    border: 1px solid yellow;
    border-radius: 12px 12px;
    /*transform: translate(-15px, 0px);*/
    /*width:508px;
    height:315px;*/
    float: left;
}
#viewport2 {
    position: absolute;
    left: 50%;
    top: 50%;
    /*max-width: 1000px;*/
    min-height: 100px;
    /*max-height: 750px;*/
    border: 1px solid yellow;
    /*transform: translate(-15px, 0px);*/
    /*width:508px;
    height:315px;*/
    float: left;
}
#rightSide {
    display: block;
    font-size: 20px;
    color: azure;
    border: 2px inset red;
    float: right;
    height: 315px;
    width: 90px;
    background-color: black;
    transform: translate(5px,-0px);
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1000;
}
#heroImage {
    transform: scale(.65) translate(-65px, -90px);
    background-image: url(Images/Hero/idle_1.png);
    width: 180px;
    height: 175px;
    background-size: contain;
    background-position: center;
    }
#enemyImage {
    transform: scale(.7) translate(-50px, -45px) scaleX(-1);
    background-image: url(Images/Enemy/idle_1.png);
    width: 180px;
    height: 175px;
    background-size: contain;
    background-position: center;
}

.pBars {
    border: 1px solid black;
    border-radius: 3px;
    width: 75px;
    min-height: 10px;
   
    /*left: 5px;*/
}

#progressBar, #progressBar3 {
    width: 85px;
    /*background-color: azure;*/
    min-height: 25px;
    /*top: 50px;*/
    z-index: 950;
    transform: translate(0px, -90px);
    background-image: url(Images/HUD/healthContainer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#progressBar2, #progressBar4 {
    width: 85px;
    background-color: black;
    min-height: 20px;
    /*top: 50px;*/
    z-index: 950;
    transform: translate(0px, -175px);
    background-image: url(Images/HUD/defenceContainer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#myBar, #myBar3 {
    width: 75%;
    max-width: 75px;
    background-color: crimson;
    border: 1px solid darkred;
    border-radius: 3px;
    z-index: 1050;
    min-height: 11px;
    left: 10px;
    transform: translate(17px, 6px);
    /*background-image: url(Images/HUD/healthBar.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;*/
}
#myBar2, #myBar4 {
    width: 75%;
    background-color:lightgray;
    border: 1px solid grey;
    z-index: 1050;
    min-height: 11px;
    left: 10px;
    transform: translate(17px, 4px);
    /*background-image: url(Images/HUD/defenceBar.png);
    
    background-repeat: no-repeat;*/
}
#progressBar2 {
    transform: translate(0px, -120px);
}
#progressBar3 {
    transform: translate(0px, -60px);
}
#progressBar4 {
    transform: translate(0px, -90px);
}
.statusText {
    font-size: 12px;
    font-weight:bold;
    color: darkblue;
    transform: translate(-13px, -21px);
    z-index:1100;
}
#defenceText1, #defenceText2 {
    transform: translate(-13px, -23px);
}
#menuImg {
    display: block;
    transform: translateY(-110px);
   
}

#ggLogo {
    min-height: 50px;
    height: 60px;
    background-image: url(Images/HUD/gabbyLogo.png);
    background-repeat: no-repeat;
    background-position: center;
}
#toHome {
    display:block;
    height: 50px;
    min-width: 50px;
    padding-top: 60px;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    color: blue;
    z-index: 1000;
    /*background-image: url(Images/HUD/gabbyLogo.png);*/
}
#message {
    position: absolute;
    display: none;
    height: 200px;
    min-width: 350px;
    left: 50%;
    top: 50%;
    background-image: url(Images/HUD/enemyTurn.png);
    z-index: 500;
    transform: translate(-175px, -100px);
}
