body {
    font-family: 'Comic Sans MS';
    text-align: center;
    background-repeat: no-repeat;
    background: radial-gradient( darkslateblue, black, magenta);
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.wrapper {
    background-repeat: no-repeat;
    /*background-color:magenta;*/
    /*transform: translate(0px,5px);*/
    max-width: 90%;
    /*display: none;*/
}
.game {
   
    height: 90%;
    border: 30px solid magenta;
    border-radius:15px;
    margin-left: auto;
    margin-right: auto;
    
}

#footDiv {
    position: absolute;
    display: block;
    clear: both;
    bottom: 4px;
    font-size: 10px;
    width: 100%;
    /*transform: translate(0px,15px);*/
    height: 30px;
}
#titleImg {
    background-image: url("assets/images/titleLogo2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 2px;
    z-index: 5000;
    transform: translate(-10px,-1px);
    display: block !important;
}
@media screen and (min-width: 1920px) {
    #gameDiv {
        max-height: 1000px;
        max-width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    #gameDiv {
        max-height: 725px;
        max-width: 600px;
    }
}
@media screen and (min-width: 1024px) {
    #gameDiv {
        max-height: 725px;
        max-width: 530px;
    }
    .optionBtns {
        height: 100px;
    }
}
@media screen and (min-width: 1024px) and (min-height: 1366px){
    #gameDiv {
        max-height: 1350px;
        max-width: 930px;
    }
}

@media (device-width: 414px) {
    #gameDiv {
        max-height: 620px;
        max-width: 330px;
    }
}
@media (device-width: 412px) {
    #gameDiv {
        max-height: 620px;
        max-width: 330px;
    }
}
@media (device-width: 375px) {
    #gameDiv {
        max-height: 550px;
        max-width: 290px;
    }
}
@media (device-width: 360px) {
    #gameDiv {
        max-height: 520px;
        max-width: 280px;
    }
}

@media (device-width: 320px) {
    #gameDiv {
        max-height: 365px;
        max-width: 235px;
    }
    .blockrain-start-msg{
        display: none;
    }
    .blockrain-start-msg {
        margin-top:80%;
    }
}
