.sprite {
	background: url('Images/redanims.png') no-repeat -4px -122px;
	width: 46px;
	height: 54px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -55px -2px;
	width: 49px;
	height: 56px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -108px -2px;
	width: 50px;
	height: 56px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -161px -2px;
	width: 49px;
	height: 56px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -215px -2px;
	width: 48px;
	height: 56px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -268px -2px;
	width: 47px;
	height: 56px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -321px -2px;
	width: 47px;
	height: 56px;
}
.sprite {
	background: url('imgs/redanims.png') no-repeat -374px -2px;
	width: 48px;
	height: 56px;
}

/* can crush */
.clsanimatedCrush {
	width: 50px;
	height: 54px;
	    background: url('Images/redanims.png')no-repeat 4px 60px ;

    animation: animatedCrush .8s steps(8) infinite;
	border: 1px solid black;
	margin-left: 50%;

	
}

@keyframes animatedCrush {
 from { background-position:    0px, 60px; }
     to { background-position: -424px, 60x; }
}


.heroMoveDown {
    background: url(Images/WalkForward_Trans.gif);
	width: 30px;
	height: 40px;
    animation: walk-forward 1.2s steps(8) infinite ;
	transform: scale(1.50);
    margin-left: auto;
    margin-right: auto;
	margin-top: 40px;
    
}
@keyframes walk-forward {
	from { background-position: 0px, 0px;
           transform: scale(1.50);
	}
	to { background-position: 240px, 0px;
        transform: scale(1.50);
				
	}
}




