body {
    font-size: 28px;
    font-family: 'Comic Sans MS';
    text-align: center;
    background-color:cornflowerblue;
}
#wrappertop {
    position: absolute;
    /*left: 50%;
    top: 50%;*/
    width: 98%;
    height: 99%;
    margin-left: 0px;
    margin-right:1%;
    transform: translate( -10px, 0px);
    border: 1px solid blue;
    /*background-image: url("images/UI/southFarm.png");*/
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
#farmHeader {
    position: absolute;
    top: 0px;
    width: 99%;
    left: 0.5%;
    height: 60px;
    border: 1px solid azure;
    background-color: darkmagenta;
}
#gameTitle {
    position:absolute;
    color: azure;
    top: 5px;
    left: 50%;
    font-size: 40px;
    transform: translate( -80px, 0px);
}

#ggLogo2 {
    /*position: absolute;*/
    left: 250px;
    transform: translate( 20px, 480px);
    height:70px;
}
#farmframe1 {
    position: absolute;
    /*width: 810px;*/
    height: 560px;
    width: 310px;
    left: 50%;
    top: 30%;
    transform: translate( -150px, -150px);
    /*border: 1px solid yellow;*/
}